.card-component {
  margin: 30px;
  border: solid black 2px;
  height: 120vw;
  width: 100vw;
  max-height: 400px;
  max-width: 320px;
  padding: 0;
}

.card-animation {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}

.card-fit-height {
  height: 100%;
  position: relative;
}

.card-fit-width {
  width: 100%;
  position: relative;
}

/* General Animations */

@keyframes firefly {
  0% { opacity: 0 }
  25% { opacity: 1 }
  75% { opacity: 0 }
  100% { opacity: 0 }
}

.animation-firefly {
  animation: firefly 12s infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}

.animation-rotate {
  animation: rotate 10s infinite linear;
}
