.card-component {
  margin: 30px;
  border: solid black 2px;
  height: 120vw;
  width: 100vw;
  max-height: 400px;
  max-width: 320px;
  padding: 0;
}

.card-animation {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}

.card-fit-height {
  height: 100%;
  position: relative;
}
